<!-- Standard Meta Tags | prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#" | -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Save up to 50% on shipping. Free, cloud based shipping, no shipping volume commitment. Find out how to save on all your shipping needs.">
    <meta name="author" content="Saveoncourier">
    <meta name="keywords" content="shipping, shipping rates, shipping companies, courier, courier rates, courier companies,	fedex, dhl, ups, usps, shipping calculator, shipping rates calculator, rates calculator, next day, overnight, air, ground, express, certified, door to door, international, domastic, local">
	
	<!-- Social Meta Tags: Open Graph -->
	<meta property="og:title" content="Saveoncourier. Save up to 50% on shipping. Free, cloud based discount shipping."/>
	<meta property="og:url" content="http://saveoncourier.com" />
	<meta property="og:type" content="business.business"/>
	<meta property="og:image" content="http://saveoncourier.com/static/img/circles/carriers-circle.png"/>
	<meta property="og:description" content="Save up to 50% on shipping. Free, cloud based shipping, no shipping volume commitment. Find out how to save on all your shipping needs." />
	<meta property="business:contact_data:email" content="startsaving@saveoncourier.com">
	<meta property="business:contact_data:phone_number" content="1-877-792-2780">
	<meta property="business:contact_data:fax_number" content="518-915-6101">
	<meta property="business:contact_data:website" content="http://saveoncourier.com">
	
	<!-- Social Meta Tags: Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Save up to 50% on shipping with Saveoncourier.">
	<meta name="twitter:description" content="Saveoncourier. Save up to 50% on shipping. Cloud based shipping. Find out how to save on all your shipping at http://saveoncourier.com">
	<meta name="twitter:image" content="http://saveoncourier.com/static/img/circles/carriers-circle.png">

    <!-- webmaster tools verification -->
	<meta name="google-site-verification" content="QTAA2sWQ21G2LxGyH9SeVyW2r6fDblb3kcK8mA3MWx0" />
    <meta name="msvalidate.01" content="23ED68C7AE7ADBE789DC2763A7D0EC7A" />

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>